---
title: Nestjs
---

{{< blocks/cover title="NestJs 扩展文档" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		学习更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		博客日志 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">NestJs 学习的一些知识点的扩展</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}


{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-mongodb" title="MongoDb" url="/nestjs-docs/docs/mongodb/" %}}
MongoDb的分页扩展,自增长扩展
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-queue" title="队列" url="/nestjs-docs/docs/queue/" %}}
Bull队列的使用
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-function" title="文档" url="/nestjs-docs/docs/openapi/" %}}
接口函数文档化
{{% /blocks/feature %}}

{{< /blocks/section >}}
